<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="linkDescription">
  <h2>Type in any route parameter to create your own custom list based on genre!</h2>
  <h3>ex: ...-herokuapp.com/Emo</h3>
</div>

<div class="box">
  <%  newListItems.forEach(function(album){ %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%= album._id %>" onChange="this.form.submit()">
      <p><%=  album.artist  %> - <%=  album.title  %></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>"></input>
  </form>
  <%  }); %>

  <form class="item" action="/" method="post" style="display:block">
    <input type="text" id="aritstName" name="newArtist" placeholder="New Artist" autocomplete="off" style="margin-right:20px">
    <input type="text" id="albumTitle" name="newTitle" placeholder="New Title" autocomplete="off">
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include("footer") -%>
